* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(1,1,3);
    background: linear-gradient(100deg, rgba(1,1,3,1) 0%, rgba(43,111,145,1) 100%);
    padding: 10px 0;
    text-align: center;
    color: lightcyan;
}

main {
    background: rgb(26,78,93);
    background: linear-gradient(173deg, rgba(26,78,93,1) 0%, rgba(73,188,247,1) 100%);
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    width: calc((100% / 3) - 40px);
    border-radius: 7px;
    height: 350px;
    background-color: white;
    margin: 20px;
    cursor: pointer;
    padding: 20px;
    background: rgb(18,142,177);
    background: linear-gradient(173deg, rgba(18,142,177,1) 0%, rgba(6,167,249,1) 100%);
}

.img-container {
    width: 100%;
    height: 70%;
}

.img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}