<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Dischi JSON</title>
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
    <body>
        <div id="app" class="main-container">

            <header>
                <h1>
                    SUPER DISKS
                </h1>
                <a href="http://localhost/php-dischi-json/create.html">
                    Create New Disk
                </a>
                
            </header>

            <main>
                <div class="container">
                    <div class="card main" v-for="(singleDisk, i) in disks" @click="openInfo(singleDisk.id)">
                        <div class="img-container">
                            <img :src="singleDisk.img" :alt="singleDisk.title">
                        </div>
                        <div class="title">
                            {{singleDisk.title}}
                        </div>
                        <div class="autor">
                            {{singleDisk.author}}
                        </div>
                        <div class="year">
                            {{singleDisk.year}}
                        </div>
                    </div>
                </div>
            </main>

            <div class="overflow" v-if="clicked == true">
                <div class="card info">
                    <div class="img-container">
                        <img :src="singleInfo.img" :alt="singleInfo.title">
                    </div>
                    <div class="title">
                        {{singleInfo.title}}
                    </div>
                    <div class="autor">
                        {{singleInfo.author}}
                    </div>
                    <div class="year">
                        {{singleInfo.year}}
                    </div>
                </div>

                <button class="my-button" @click="close()">
                    X
                </button>
            </div>
        </div>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="js/script.js"></script>
    </body>
</html>